@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  margin-top: 50px;
}
h1{ 
  position: fixed;
  margin-top: 30px;
  align-items: start;
  text-indent: 30px;
  font-size: 3rem;
}

li{
  text-align: left;
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
} 
.vl {
  border-left: 1px solid black;
  height: 1000px;
  position: fixed;
  left: 220px;
  margin-left: -3px;
  top: 0px;
}
.vl2 {
  border-left: 1px solid black;
  height: 1000px;
  position: fixed;
  left: 620px;
  margin-left: -3px;
  top: 0px;
}
.divider {
  position: fixed;
  border-top: 1px solid black;
  margin-left:218px;
  margin-top: 100px;
  width: 1500px;

}
h2{
  position: fixed;
  margin-top: 130px;
  margin-left: 500px;
  /* margin-bottom: 1rem; */
  font-size: 1.5rem;
  margin-bottom: 20px;
}
h3{
  position: fixed;
  margin-top: 130px;
  margin-left: 1050px;
  font-size: 1.5rem;
  margin-bottom: 20px;

}
.add-button{
  position: fixed;
  margin-left: 700px;
  margin-top: 180px;
  cursor: "pointer",
}
.delete-button{
  position:static;
  padding: 10px;
  background-color: rgb(237, 237, 237);
  /* color:black; */
  border: none;
  border-radius: 8px;
  margin-left:685px;
  cursor: "pointer",
  /* position: fixed; */
  /* margin-left: 685px;
  padding: 10px;
  border-radius: 8px ;
  border: none; */
 
}
.ingredient-input{
  position: fixed;
  margin-left: 450px;
  margin-top: 180px;
  margin-bottom: 20px;
  /* margin-top: 1 rem; */
}
.step-add-button{
  position: fixed;
  margin-left: 1200px;
  margin-top: 180px;
}
.step-delete-button{
  position: absolute;
  margin-left: 1200px;
  /* margin-top: 80px; */
}
.step-input{
  position: fixed;
  margin-left: 950px;
  margin-top: 180px;
}
h4{
  position: fixed;
  margin-top: 120px;
  margin-left:30px;
  font-size: 1.5rem;
}
h5{
  position: fixed;
  margin-top: 220px;
  margin-left:30px;
  font-size: 1.5rem;
}
h6{
  position: fixed;
  margin-top: 320px;
  margin-left:30px;
  font-size: 1.5rem;
}

.h7{
    position: fixed;
    margin-top: 420px;
    margin-left:30px;
    font-size: 1.5rem;
}

.Feedtop{
  position: fixed;
  margin-top: 30px;
  align-items: start;
  text-indent: 250px;
  font-size: 3rem;
}

ol {
  margin-top: 1rem; /* Adds space above the ingredient list */
}

.textIngredient{
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 450px;
  text-align: center;
  /* margin-left: 500px;
  justify-Content: space-between;
  align-items: center;
  display: flex; */
  /* padding: 20px; */
  /* flex-grow: 1; */

}
